// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------
$BASE_FONT_SIZE: 16px;

// ------------------------------------------------------------------------
// Font stack
// ------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Raleway|Lora:400,700|Indie+Flower');

$FONT: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$FONT_SERIF: 'Lora', 'Georgia' serif;
$FONT_CURSIVE: 'Indie Flower', cursive;


