// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------
$BASE_FONT_SIZE: 16px;

$FONT_SIZE_HALF: $BASE_FONT_SIZE - 5px;
$FONT_SIZE_1X: $BASE_FONT_SIZE;
$FONT_SIZE_2X: $FONT_SIZE_1X * 1.25;
$FONT_SIZE_3X: $FONT_SIZE_1X * 1.5;
$FONT_SIZE_4X: $FONT_SIZE_1X * 2;

// ------------------------------------------------------------------------
// Font stack
// ------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Raleway');

$FONT: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ------------------------------------------------------------------------
// Icon Fonts
// ------------------------------------------------------------------------
@import url('http://weloveiconfonts.com/api/?family=entypo');

[class*='entypo-']:before {
    font-family: 'entypo', sans-serif;
}
