// ---------------------------------------------------------------------
//    Variables
// ---------------------------------------------------------------------
/* Colors */
$COLOR_PRIMARY: #0066cc; //#a3c8e1;
$COLOR_SECONDARY: #2d9fe9;

/* Misc Colors */
$COLOR_MID_GREY: #999999;
$COLOR_ALERT: #b81818;
// ------------------------------------------------------------------------
// Site Variables
// ------------------------------------------------------------------------
$SCREEN_WIDTH_SM: 328px;
$SCREEN_WIDTH_MD: 767px;
$SCREEN_WIDTH_LG: 1027px;

// ------------------------------------------------------------------------
// Icons
// ------------------------------------------------------------------------

