// ---------------------------------------------------------------------
// VARIABLES
// ---------------------------------------------------------------------
// ---------------------------------------------------------------------
// SPACING
// ---------------------------------------------------------------------
$SCREEN_WIDTH_SM: 328px;
$SCREEN_WIDTH_MD: 767px;
$SCREEN_WIDTH_LG: 1027px;

$HORIZONTAL_SPACING_1X: 12px;

$VERTICAL_SPACING_1X: 12px;
$VERTICAL_SPACING_2X: $VERTICAL_SPACING_1X * 2;
$VERTICAL_SPACING_3X: $VERTICAL_SPACING_1X * 3;
$VERTICAL_SPACING_4X: $VERTICAL_SPACING_1X * 4;

// ---------------------------------------------------------------------
// SIDEBAR WIDTHS
// ---------------------------------------------------------------------
$SIDEBAR_WIDTH_EXPANDED: 240px;
$SIDEBAR_WIDTH_COLLAPSED: 80px;

// ---------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------
// theme
$COLOR_PRIMARY: #0066cc; //#a3c8e1;
$COLOR_SECONDARY: #2d9fe9;

// https://dribbble.com/shots/218427-Ui-Elements-Free-PSD
// #a7a7a7
// #a3c0d3
// #5ca4d3
// #4287b5
// #6a6f72
// #31719b
// #ef4a39

// secondary
$COLOR_MID_GREY: #999999;
$COLOR_ALERT: #b81818;

// ------------------------------------------------------------------------
// Icons
// ------------------------------------------------------------------------
