// ------------------------------------------------------------------------
// Page
// ------------------------------------------------------------------------
.page {
    background-color: #fefffd;
    font-size: $BASE_FONT_SIZE;
    font-family: $FONT;
    letter-spacing: 1px;
    line-height: 1.2;
}

.page-hd {
    // TODO: move to .sidebar
    width: $SIDEBAR_WIDTH_EXPANDED;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.page-bd {
    margin-left: $SIDEBAR_WIDTH_EXPANDED;
}

// .page-ft {}
