// ------------------------------------------------------------------------
// Page
// ------------------------------------------------------------------------
.page {
    background-color: #fefffd;
    font-size: $BASE_FONT_SIZE;
    font-family: $FONT;
    letter-spacing: 1px;
    line-height: 1.2;
}

.page-hd {
    border-bottom: 4px solid $COLOR_SECONDARY;
}

// .page-bd {}

// .page-ft {}
