// ---------------------------------------------------------------------
// Text
// ---------------------------------------------------------------------
.txt { font-size: $FONT_SIZE_1X; }

.txt-left { text-align: left; }

.txt-center { text-align: center; }

.txt-right { text-align: right; }

.mix-txt_light {
    color: $COLOR_MID_GREY;
}

.mix-txt_italic {
    font-style: italic;
}
