// ---------------------------------------------------------------------
// 6 Column Grid - Helpers
// ---------------------------------------------------------------------
$GRID_COLUMNS: 6;
$GRID_BREAKPOINT_SM: 'sm';
$GRID_BREAKPOINT_MD: 'md';
$GRID_BREAKPOINT_LG: 'lg';

// scss-lint:disable all
@mixin buildGrid($breakpoint, $i) {
    .grid-col-#{$breakpoint}_#{$i}of#{$GRID_COLUMNS} {
        width: 100% / $GRID_COLUMNS * $i;
    }
}

@mixin buildGridPush($breakpoint, $i) {
    .mix-grid-col-#{$breakpoint}_push#{$i}of#{$GRID_COLUMNS} {
        margin-left: 100% / $GRID_COLUMNS * $i;
    }
}

@mixin buildGridPull($breakpoint, $i) {
    .mix-grid-col-#{$breakpoint}_pull#{$i}of#{$GRID_COLUMNS} {
        margin-right: 100% / $GRID_COLUMNS * $i;
    }

}
