// ---------------------------------------------------------------------
// Media Object
// ---------------------------------------------------------------------
.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin-right: 20px;
}

.media-bd {
    overflow: hidden;
}
