// ---------------------------------------------------------------------
// Table
// ---------------------------------------------------------------------
.table {
    width: 100%;
    border: 1px solid #f0f0f0;
}

thead {
    text-align: left;
    background-color: #dddddd;
    border-bottom: 10px solid $COLOR_GREY_239;
}

th {
    padding: 16px;
    font-size: 14px;
}

tbody > tr {
    background: #fefefe;
    border-bottom: 2px solid #fcfcfc;
}

tbody > tr:hover {
    background-color: #efefef;
    cursor: pointer;
}

td {
    padding: 16px;
    border-bottom: 3px solid #f0f0f0;
    font-size: 12px;
}
