// ---------------------------------------------------------------------
// Headings
// ---------------------------------------------------------------------
.hdg {
    font-family: $FONT;
    font-weight: normal;
    line-height: 1.2;
}

.hdg > a:hover {
    text-decoration: none;
}

.hdg_1 {
    font-size: $FONT_SIZE_3X;
}

.hdg_2 {
    font-size: $FONT_SIZE_2X;
}

.mix-hdg_sans {
    font-family: $FONT;
}

.mix-hdg_caps {
    text-transform: uppercase;
}
