// ---------------------------------------------------------------------
// Vertical Rhythm
// ------------------------------------------------------------------------
.vr_1x { margin-bottom: $VERTICAL_SPACING_1X; }

.vr_2x { margin-bottom: $VERTICAL_SPACING_2X; }

.vr_3x { margin-bottom: $VERTICAL_SPACING_3X; }

.vr_4x { margin-bottom: $VERTICAL_SPACING_4X; }
