// ---------------------------------------------------------------------
// Vertical Rhythm
// ------------------------------------------------------------------------
.vr {
    margin-bottom: 4px;
}

.vr_x2 {
    margin-bottom: 8px;
}

.vr_x4 {
    margin-bottom: 16px;
}

.vr_x6 {
    margin-bottom: 24px;
}
