// ---------------------------------------------------------------------
// Inputs - Small
// ---------------------------------------------------------------------
.input {
    width: 100%;
    max-width: 100%;
    font-size: $FONT_SIZE_1X;
}
