// ---------------------------------------------------------------------
// Inputs
// ---------------------------------------------------------------------
// TDOO: create custom tcomb-form templates and apply custom classes to form
.form-group {
    margin-bottom: $VERTICAL_SPACING_1X;
}

.control-label {
    display: block;
    padding-right: $HORIZONTAL_SPACING_1X;
    padding-bottom: 2px;
    font-size: $FONT_SIZE_HALF;
}

input {
    min-width: 200px;
    padding: 4px 7px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

// nesting selectors here to simplify inheritence
.has-error {
    input,
    select {
        border: 1px solid #ff0000; // TODO: move color to _vars
    }

    label {
        color: #ff0000;
    }
}


select {
    width: 200px;
}

// .input {
//     width: 100%;
//     max-width: 600px;
//     padding-right: 10px;
//     padding-left: 10px;
//     border: 1px solid #222222;
//     border-radius: 2px;
//     font-size: $FONT_SIZE_1X;
// }
//
// .input-sm {
//     padding-top: 8px;
//     padding-bottom: 8px;
// }
//
// .input-md {
//     padding-top: 12px;
//     padding-bottom: 12px;
// }
//
// .input-lg {
//     padding-top: 18px;
//     padding-bottom: 18px;
// }
//
// .input-textarea {
//     height: 160px;
//     resize: none;
// }
//
// .mix-input_block {
//     width: 95%;
//     display: block;
// }
