// ---------------------------------------------------------------------
// Inputs - Small
// ---------------------------------------------------------------------
.input {
    width: 100%;
    max-width: 100%;
    font-size: $BASE_FONT_SIZE;
}
