// ---------------------------------------------------------------------
// Vertical list
// ---------------------------------------------------------------------
.vlist > * {
    padding: 10px 0;
}

.mix-vlist_spacious > * + * {
    padding: 20px 0;
}

.mix-vlist_divided > * + * {
    border-top: 2px solid #bebebe;
}
